body{
	background-color: #edeef0;
}
.wrapper{
	margin: auto;
	max-width: 400px;
	height: 500px;
	background: #fff;
	border-radius: 10px;
	border-color: #444446;
	border-width: 2px;
}
p{
	text-align: center;
	padding-top: 5px;
}
form{
	margin:auto;
	height: 450px;
}

.login, .mail, .password{
	width: 240px;
	margin-left: 80px;
	margin-bottom: 10px;
}
.btn{
	width: 200px;
	margin-left: 100px;
}
.authForm{
	width: 200px;
	padding-left: 100px;
	text-align: center;
}
.inputs{
	height: 130px;
}

input{
	text-align: center;
}
.error{
	font-size: 15px;
	display: block;
	text-align: center;
	color: red;
}
.authForm div{
	width: 13px;
	height: 13px;
	background: #63c1f5;
	border-radius: 5px;
	border: 2px solid #055d8f;
	display: inline-block;
	transition: .3s;
}

.authForm .checked{
	background: #055d8f;
}

.authForm div:hover{
	transition: .3s;
	background: #048fdb;
}