body{
	background-color: #edeef0;
}
.wrapper{
	margin: auto;
	max-width: 400px;
	height: 500px;
	background: #fff;
	border-radius: 10px;
	border-color: #444446;
	border-width: 2px;
}
p{
	text-align: center;
	padding-top: 5px;
}

.login, .mail, .password{
	width: 240px;
	margin-bottom: 10px;
}

.logform, .regform{
	width: 258px;
	padding-left: 80px;
	height: 450px;
	text-align: center;
}

.authform{
	text-align: center;
}

.inputs{
	height: 130px;
	margin-bottom: 20px;
}

input{
	text-align: center;
}

.submit-btn{
	width: 100px;
	border-width: 2px;
	border-style: solid;
	border-color: #055d8f;
	border-radius: 5px;
	background: #055d8f;
	margin-left: 70px;
	color: #fff;
	transition: .3s;
}
.submit-btn:hover{
	background: #fff;
	color: #055d8f;
	transition: .3s;
}

.error{
	font-size: 15px;
	display: block;
	text-align: center;
	color: red;
}
.authform div{
	width: 13px;
	height: 13px;
	background: #63c1f5;
	border-radius: 5px;
	border: 2px solid #055d8f;
	display: inline-block;
	transition: .3s;
}

.authform .checked{
	background: #055d8f;
}

.authform div:hover{
	transition: .3s;
	background: #048fdb;
}